## Import libraries

In [1]:
from network_optimizer import NetworkOptimizer
import synthetic_data_generators as sdg
import numpy as np
import pandas as pd

import time

## Import Synthetic Data

In [2]:
synth_network = pd.read_csv("../data/synth_network.csv")
synth_pool = pd.read_csv("../data/synth_pool.csv")
synth_members = pd.read_csv("../data/synth_members.csv")
synth_reqs = sdg.synth_reqs

In [3]:
print(f"Network size: {len(synth_network)}")
print(f"Pool size: {len(synth_pool)}")
print(f"Number of members: {len(synth_members)}")
synth_reqs

Network size: 100
Pool size: 100
Number of members: 1000

,specialty,county,provider_count,distance_req,min_access_pct,min_providers
0,cardiologist,wayne,1,15,90,5
1,pcp,wayne,2,15,90,10
2,ent,wayne,1,15,90,5
3,urologist,wayne,1,15,90,5
4,obgyn,wayne,1,15,90,5

## Run Optimization

### Create Network from scratch

In [5]:
optimizer = NetworkOptimizer(pool=synth_pool, 
                             members=synth_members,
                             adequacy_reqs=synth_reqs,
                             #no network
                             )

In [6]:
optimizer.optimize(10)

Optimization round 1 ...
Optimization round 2 ...
Optimization round 3 ...
Optimization round 4 ...
Optimization round 5 ...
Optimization round 6 ...
Optimization round 7 ...
Optimization round 8 ...
Optimization round 9 ...
Optimization round 10 ...
No more options for optimization
Average seconds per round of optimization: 0.8
Adequacy score for best network: 0.9736

In [7]:
optimizer.adequacy_detail

,specialty,county,provider_count,distance_req,min_access_pct,min_providers,total_members,members_with_access,servicing_providers,pct_with_access,adequacy_index
0,cardiologist,wayne,1,15,90,5,1000,1000,11,1.000,1.000
1,pcp,wayne,2,15,90,10,1000,990,10,0.990,0.990
2,ent,wayne,1,15,90,5,1000,1000,8,1.000,1.000
3,urologist,wayne,1,15,90,5,1000,910,7,0.910,0.910
4,obgyn,wayne,1,15,90,5,1000,968,6,0.968,0.968

In [8]:
optimizer.move_tracker

[('addition', 4),
 ('addition', 2),
 ('addition', 14),
 ('addition', 0),
 ('addition', 10),
 ('addition', 13),
 ('addition', 5),
 ('addition', 9),
 ('addition', 11)]

In [9]:
optimizer.performance_history

array([0.     , 0.25128, 0.4768 , 0.65592, 0.74724, 0.80772, 0.87188,
       0.94692, 0.9714 , 0.9736 ])

In [10]:
optimizer.best_network

,npi,specialty,group_id,efficiency,effectiveness,location_id,county,latitude,longitude,pct_serving
0,72,cardiologist,4,5,1,6,wayne,42.000698,-83.751425,0.334
1,56,urologist,4,1,1,7,wayne,42.199648,-83.761273,0.628
2,89,cardiologist,4,1,1,28,wayne,42.153219,-83.988858,0.323
3,27,ent,4,1,2,45,wayne,42.286955,-83.598814,0.587
4,81,cardiologist,4,4,1,46,wayne,42.296682,-83.854589,0.548
...,...,...,...,...,...,...,...,...,...,...
59,48,pcp,9,3,2,77,wayne,42.373220,-83.823846,0.480
60,93,cardiologist,9,1,3,92,wayne,42.223080,-83.734750,0.649
61,59,ent,11,4,4,42,wayne,42.354035,-83.533698,0.449
62,3,obgyn,11,4,4,58,wayne,41.936133,-83.595134,0.196
63,59,ent,11,4,4,93,wayne,41.924905,-83.403148,0.090

### Create Network from scratch using custom objective

In [17]:
def user_objective(self, network):
    if len(network) == 0:
        return 0
    else:
        return self.adequacy(network) * network.effectiveness.mean()

In [18]:
optimizer = NetworkOptimizer(pool=synth_pool, 
                             members=synth_members,
                             adequacy_reqs=synth_reqs,
                             # no network
                             user_objective=user_objective
                             )

In [19]:
optimizer.optimize(10)

Optimization round 1 ...
Optimization round 2 ...
Optimization round 3 ...
Optimization round 4 ...
Optimization round 5 ...
Optimization round 6 ...
Optimization round 7 ...
Optimization round 8 ...
Optimization round 9 ...
Optimization round 10 ...
No more options for optimization
Average seconds per round of optimization: 0.7
Adequacy score for best network: 0.9672000000000001

In [20]:
optimizer.adequacy_detail

,specialty,county,provider_count,distance_req,min_access_pct,min_providers,total_members,members_with_access,servicing_providers,pct_with_access,adequacy_index
0,cardiologist,wayne,1,15,90,5,1000,1000,8,1.000,1.000
1,pcp,wayne,2,15,90,10,1000,966,10,0.966,0.966
2,ent,wayne,1,15,90,5,1000,1000,8,1.000,1.000
3,urologist,wayne,1,15,90,5,1000,902,7,0.902,0.902
4,obgyn,wayne,1,15,90,5,1000,968,7,0.968,0.968

In [21]:
optimizer.move_tracker

[('addition', 2),
 ('addition', 1),
 ('addition', 14),
 ('addition', 0),
 ('addition', 5),
 ('addition', 13),
 ('addition', 11),
 ('addition', 10),
 ('addition', 6)]

In [22]:
optimizer.performance_history

array([0.        , 0.62345   , 1.25028471, 1.866864  , 2.31783568,
       2.54961143, 2.74885333, 2.94145333, 3.00906667, 3.03274576])

In [23]:
optimizer.best_network

,npi,specialty,group_id,efficiency,effectiveness,location_id,county,latitude,longitude,pct_serving
0,14,urologist,2,5,1,0,wayne,41.916604,-83.793571,0.175
1,5,urologist,2,2,5,4,wayne,42.189181,-83.655711,0.639
2,32,cardiologist,2,3,3,12,wayne,41.982906,-83.838536,0.268
3,62,urologist,2,2,2,22,wayne,42.113551,-83.472148,0.345
4,57,pcp,2,5,3,30,wayne,42.027369,-83.644040,0.359
5,5,urologist,2,2,5,39,wayne,42.361643,-83.532102,0.436
6,76,ent,2,5,5,63,wayne,42.396234,-83.950313,0.321
7,37,cardiologist,2,1,5,74,wayne,42.222695,-83.420171,0.356
8,37,cardiologist,2,1,5,78,wayne,42.061799,-83.649882,0.433
9,57,pcp,2,5,3,83,wayne,42.052663,-83.892604,0.324
10,0,cardiologist,1,3,4,27,wayne,42.245260,-83.512916,0.495
11,23,pcp,1,1,2,38,wayne,42.281776,-83.568902,0.559
12,16,pcp,1,1,3,70,wayne,42.345198,-83.653466,0.581
13,69,ent,1,1,5,75,wayne,42.132475,-83.528920,0.436
14,16,pcp,1,1,3,80,wayne,42.239712,-83.968920,0.389
15,69,ent,1,1,5,85,wayne,42.345585,-83.826873,0.515
16,70,urologist,1,1,3,87,wayne,42.055884,-83.935641,0.284
17,78,pcp,14,3,1,2,wayne,42.033343,-83.656534,0.379
18,90,cardiologist,14,3,5,9,wayne,42.363139,-83.421755,0.307
19,88,pcp,14,5,1,11,wayne,42.181369,-83.407939,0.331
20,66,pcp,14,2,3,14,wayne,42.052978,-83.891273,0.324
21,42,urologist,14,2,1,17,wayne,41.958782,-83.517451,0.191
22,66,pcp,14,2,3,19,wayne,42.343044,-83.521098,0.448
23,87,cardiologist,14,3,1,24,wayne,42.349302,-83.791333,0.538
24,33,ent,14,3,2,25,wayne,42.378573,-83.911297,0.386
25,78,pcp,14,3,1,33,wayne,41.918663,-83.832196,0.165
26,71,pcp,14,3,3,61,wayne,42.141997,-83.821981,0.500
27,90,cardiologist,14,3,5,68,wayne,42.129584,-83.875093,0.443
28,66,pcp,14,2,3,71,wayne,42.308398,-83.486787,0.437
29,78,pcp,14,3,1,89,wayne,42.279040,-83.740358,0.657
30,18,pcp,0,1,2,13,wayne,41.963062,-83.637764,0.248
31,21,ent,0,2,4,32,wayne,42.163399,-83.716906,0.617
32,12,pcp,0,3,2,47,wayne,41.946885,-83.944456,0.163
33,53,ent,0,5,4,69,wayne,42.221030,-83.600439,0.628
34,53,ent,0,5,4,73,wayne,41.995063,-83.555725,0.260
35,15,obgyn,0,4,2,88,wayne,42.039524,-83.560389,0.330
36,53,ent,0,5,4,90,wayne,42.179432,-83.910244,0.455
37,35,ent,5,4,2,5,wayne,42.059954,-83.861295,0.362
38,91,obgyn,5,2,4,29,wayne,42.211290,-83.698540,0.675
39,91,obgyn,5,2,4,41,wayne,42.293845,-83.685775,0.661
40,45,cardiologist,5,2,4,65,wayne,42.216047,-83.690260,0.686
41,91,obgyn,5,2,4,99,wayne,42.118075,-83.744354,0.532
42,68,urologist,13,1,2,10,wayne,42.091869,-83.570447,0.416
43,65,obgyn,13,3,1,34,wayne,41.965813,-83.442204,0.152
44,39,obgyn,13,3,5,36,wayne,41.901543,-83.935725,0.104
45,59,ent,11,4,4,42,wayne,42.354035,-83.533698,0.449
46,3,obgyn,11,4,4,58,wayne,41.936133,-83.595134,0.196
47,59,ent,11,4,4,93,wayne,41.924905,-83.403148,0.090
48,30,cardiologist,10,2,5,8,wayne,42.010481,-83.690468,0.348
49,30,cardiologist,10,2,5,23,wayne,42.055915,-83.981102,0.249
50,64,urologist,10,4,2,37,wayne,42.230861,-83.698866,0.679
51,28,pcp,10,2,1,43,wayne,42.275955,-83.452330,0.408
52,28,pcp,10,2,1,59,wayne,42.161141,-83.753044,0.591
53,25,obgyn,10,2,2,82,wayne,42.364265,-83.951822,0.350
54,97,obgyn,6,2,4,51,wayne,42.099926,-83.664167,0.522
55,49,cardiologist,6,2,2,86,wayne,42.388447,-83.872004,0.418
56,49,cardiologist,6,2,2,91,wayne,41.966073,-83.867855,0.222
57,67,ent,6,3,5,96,wayne,42.213445,-83.888217,0.508
58,97,obgyn,6,2,4,97,wayne,42.334651,-83.865587,0.493

In [24]:
optimizer.access_listing

,member_id,member_county,member_latitude,member_longitude,npi,specialty,group_id,efficiency,effectiveness,location_id,provider_county,provider_latitude,provider_longitude,distance,county,provider_count,distance_req,min_access_pct,min_providers
0,0,wayne,42.334931,-83.798905,14,urologist,2,5,1,0,wayne,41.916604,-83.793571,28.9,wayne,1,15,90,5
1,0,wayne,42.334931,-83.798905,47,ent,7,3,1,1,wayne,42.331189,-83.668563,6.7,wayne,1,15,90,5
2,0,wayne,42.334931,-83.798905,78,pcp,14,3,1,2,wayne,42.033343,-83.656534,22.1,wayne,2,15,90,10
3,0,wayne,42.334931,-83.798905,60,pcp,7,5,1,3,wayne,42.223686,-83.744325,8.2,wayne,2,15,90,10
4,0,wayne,42.334931,-83.798905,5,urologist,2,2,5,4,wayne,42.189181,-83.655711,12.5,wayne,1,15,90,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,999,wayne,42.497080,-83.564959,99,cardiologist,3,5,3,95,wayne,42.027225,-83.624442,32.6,wayne,1,15,90,5
99996,999,wayne,42.497080,-83.564959,67,ent,6,3,5,96,wayne,42.213445,-83.888217,25.6,wayne,1,15,90,5
99997,999,wayne,42.497080,-83.564959,97,obgyn,6,2,4,97,wayne,42.334651,-83.865587,19.0,wayne,1,15,90,5
99998,999,wayne,42.497080,-83.564959,77,ent,7,4,3,98,wayne,42.343960,-83.761458,14.6,wayne,1,15,90,5
99999,999,wayne,42.497080,-83.564959,91,obgyn,5,2,4,99,wayne,42.118075,-83.744354,27.7,wayne,1,15,90,5